/JavaApplication/build/
/JavaFXProgramming/nbproject/private/
/JavaIoProgramming/nbproject/private/
/Project/nbproject/private/
/Project/build/
/JavaFXProgramming/build/
/JavaIoProgramming/build/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/build/
/RPi-LCD-JavaFXProgramming/dist/
/JavaFXProgramming/dist/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/JavaIoProgramming/dist/
/Project/dist/